---
interface Video {
  type: 'youtube' | 'video';
  src: string;
  alt: string;
}

const { title, description, videos, languages, projectLink } = Astro.props as {
  title: string;
  description: string;
  videos: Video[];
  languages: any[];
  projectLink: string;
};
---

<div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-6 mb-6 max-w-full w-full mx-auto transition-transform transform hover:scale-105">
  <h2 class="mb-4 text-3xl font-bold tracking-tight text-gray-900 dark:text-white transition-colors duration-300 hover:text-blue-500">{title}</h2>
  <div class="grid grid-cols-1 gap-4 mb-4">
    {videos.map((video) => (
      <div class="relative group h-64 overflow-hidden rounded-lg shadow-md">
        {video.type === 'youtube' ? (
        <iframe class="w-full h-full" src={video.src} title={video.alt} style="border:0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        <Layout title="Portafolio de Paulo Melendez - Desarrollador y Programador web" description="Si buscas un desarrollador web que pueda crear páginas de excelente calidad, paulito_god es tu mejor opción. Con experiencia en diseño y desarrollo web, paulito_god garantiza resultados profesionales y personalizados para tu negocio o proyecto personal." currentPage="index">
        ) : (
          <video class="w-full h-full object-cover" controls style="max-width: 500px;">
            <source src={video.src} type="video/mp4" />
            {video.alt}
          </video>
        )}
      </div>
    ))}
  </div>
  <p class="mb-4 font-normal text-gray-700 dark:text-gray-400 transition-colors duration-300 hover:text-blue-500">{description}</p>
  <div class="mb-4">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Lenguajes Utilizados:</h3>
    <div class="flex space-x-2">
      {languages.map(LanguageIcon => (
        <div class="transition-transform duration-300 hover:scale-125">
          <LanguageIcon class="w-8 h-8 text-gray-700 dark:text-gray-400" />
        </div>
      ))}
    </div>
  </div>
  <a href={projectLink} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 transition-transform duration-300 transform hover:scale-105">
    Ver Proyecto
    <svg class="w-4 h-4 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"/>
    </svg>
  </a>
</div>